:root {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: var(--text);
  font-family: var(--font-family);
  background-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  text-transform: uppercase; }

h1 {
  font-size: 4.2rem; }

h2 {
  font-size: 3.8rem; }

h3 {
  font-size: 3.4rem; }

h4 {
  font-size: 3rem; }

h5 {
  font-size: 2.6rem; }

h6 {
  font-size: 2.2rem; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

a {
  color: var(--text);
  text-decoration: none; }

:root {
  --primary: #9b59b6;
  --secondary: #8e44ad;
  --purple-back: #D9A3F3;
  --dark: #2c3e50;
  --accent: #95a5a6;
  --euforie: #d35400;
  --text: #333;
  --divider: #bdc3c7;
  --font-family: 'Roboto', sans-serif;
  --title-font: 'Moon Dance', sans-serif;
  --about-me-font: 'Moon Dance', sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15); }

.btn {
  color: var(--dark);
  background-color: #dee5e6;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-weight: 500;
  font-size: 1rem; }
  .btn-primary {
    border: 0.2rem solid var(--primary); }
  .btn-secondary {
    border: 0.2rem solid var(--secondary); }

.container {
  background-color: rgba(241, 245, 221, 0.821);
  border-radius: 0.8rem;
  padding: 1.8rem;
  margin: 1.5rem; }

.underline {
  display: block;
  background-color: black;
  margin: 2rem auto;
  height: 0.2rem;
  width: 80vw; }

.next {
  display: block !important;
  margin: auto; }
  .next p {
    text-align: center;
    font-size: 1rem;
    margin: 1.2rem auto; }
  .next h5 {
    text-align: center;
    font-size: 1.4rem;
    margin: 1.2rem auto 1.5rem auto;
    font-weight: normal; }

#next-desc {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Landscape phones and down */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
/* Extra Large desktop */
/* Very Large desktop */
/* ############## */
/* ### HEADER ### */
/* ############## */
header {
  background-position: center;
  height: 15vh;
  margin: 0.6rem;
  border-radius: 1rem; }
  header .items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; }
    header .items i {
      margin: 1.2rem 0.4rem;
      font-size: 1rem;
      color: white; }
    header .items .panier {
      margin: 0rem 0.2rem; }
      header .items .panier h6 {
        color: white;
        background-color: red;
        border-radius: 50%;
        display: inline;
        font-size: 0.8rem;
        position: absolute;
        margin: 0.5rem 0rem 0rem 0.1rem; }

/* ########### */
/* ### NAV ### */
/* ########### */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center; }
  nav ul li {
    text-align: center;
    font-size: 1rem; }
    nav ul li:hover {
      font-size: 1.2rem; }
