.btn {
    color: var(--dark);
    background-color: rgb(222, 229, 230);
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-weight: 500;
    font-size: 1rem;
    &-primary {
        border: 0.2rem solid var(--primary);
    }
    &-secondary {
        border: 0.2rem solid var(--secondary);
    }
}

.container {
    background-color: rgba(241, 245, 221, 0.821);
    border-radius: 0.8rem;
    padding: 1.8rem;
    margin: 1.5rem;
}

.underline {
    display: block;
    background-color: black;
    margin: 2rem auto;
    height: 0.2rem;
    width: 80vw;
}

.next {
    display: block !important;
    margin: auto;
    p {
        text-align: center;
        font-size: 1rem;
        margin: 1.2rem auto;
    }
    h5 {
        text-align: center;
        font-size: 1.4rem;
        margin: 1.2rem auto 1.5rem auto;
        font-weight: normal;
    }
}

#next-desc {
    display: none;
}
