@import "./Setings";
@import "./Variables";
@import "./Classes";
@import "./reset";
@import "./media-queries";
@import "./Animations";

/* ############## */
/* ### HEADER ### */
/* ############## */

header {
    background-position: center;
    height: 15vh;
    margin: 0.6rem;
    border-radius: 1rem;
    .items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        i {
            margin: 1.2rem 0.4rem;
            font-size: 1rem;
            color: white;
        }
        .panier {
            margin: 0rem 0.2rem;
            h6 {
                color: white;
                background-color: red;
                border-radius: 50%;
                display: inline;
                font-size: 0.8rem;
                position: absolute;
                margin: 0.5rem 0rem 0rem 0.1rem;
            }
        }
    }
}

/* ########### */
/* ### NAV ### */
/* ########### */

nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        li {

            text-align: center;
            font-size: 1rem;
            &:hover {
                font-size: 1.2rem;
            }
        }
    }
}

/* ############## */
/* ### Footer ### */
/* ############## */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 0.5rem;
    margin: 1rem 2rem 0.4rem 2rem;
    padding: 0.8rem 0.4rem 0.4rem 0.4rem;
    .nav-footer {
        display: flex;
        flex-direction: row;
        li {
            margin: 0.4rem 1.2rem;
            a {
                font-size: 1.6rem;
                text-transform: uppercase;
                font-weight: 700;
                margin: 0.5rem auto;
                &:hover {
                    font-size: 2rem;
                    text-decoration: underline;
                }
            }
        }
    }
    .reseaux {
        display: flex;
        flex-direction: row;
        ul {
            margin: 0.8rem 2rem;
            li {
                a {
                    font-size: 1.4rem;
                    margin: 0.5rem auto;
                    &:hover {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    h6 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        button {
            font-size: 1rem;
            border: none;
            background-color: initial;
        }
    }
}